### Connecting Mysql with Python :

In [1]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",
                              user="root",
                              passwd="Prakash1@234")
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001A8321CD910>

### Creating DATABASE :

In [2]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",
                              user="root",
                              passwd="Prakash1@234")
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE PatientsRecordPython")

### Creating Table in DATABASE :

In [3]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              passwd = "Prakash1@234",
                              database = "PatientsRecordPython")
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE worldwide_records (Customer_Name VARCHAR(25) NOT NULL PRIMARY KEY,Customer_ID VARCHAR(18) NOT NULL,Customer_Open_Dat DATE NOT NULL,Last_Consulted_Dat DATE NOT NULL,Vaccination_Type CHAR(5) NOT NULL,Doctor_Consulted CHAR(25) NOT NULL,State CHAR(25) NOT NULL,Country CHAR(25) NOT NULL,Post_Code INT(5) NOT NULL,DOB DATE NOT NULL,Active_Customer CHAR(1) NOT NULL)")

### Inserting Data into the table :

In [4]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              passwd = "Prakash1@234",
                              database = "PatientsRecordPython")
mycursor = mydb.cursor()
sql = "INSERT INTO worldwide_records(Customer_Name,Customer_ID,Customer_Open_Dat,Last_Consulted_Dat,Vaccination_Type,Doctor_Consulted,State,Country,Post_Code,DOB,Active_Customer) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

val = [ ('Robert', '123457', '20100406', '20120203', 'MVD', 'Paul', 'Alabama', 'USA', '789456', '19870201', 'A'),('James', '123458', '20100203', '20120203', 'MVD', 'Paul', 'TamilNamdu', 'India', '987654', '19880201', 'A'),
      ('John', '123459', '20101112', '20120203', 'MVD', 'Paul', 'Berlin', 'Germany', '641548', '19950811', 'A'),
      ('Leo', '123456', '20110607', '20120203', 'MVD', 'Paul', 'Bermen', 'Germany', '754846', '19941212', 'A'),
      ('Jack', '123455', '20120609', '20120203', 'MVD', 'Robert', 'Karnataka', 'India', '123487', '19800502', 'A'),
     ('Rose', '123789', '20120807', '20120203', 'MVD', 'Peter', 'Alsace', 'France', '652651', '19900608', 'A'),
    ('Prakash', '124567', '20140907', '20120203', 'MVD', 'Paul', 'Kerala', 'India', '654653', '19820909', 'A'),
     ('Prem', '126581', '20150907', '20120203', 'MVD', 'Peter', 'Centre', 'France', '325324', '19850208', 'A'),
     ('Antony', '145879', '20130509', '20120203', 'MVD', 'Robert', 'Hamburg', 'Germany', '658657', '19840706', 'A'), 
      ('Albert', '548785', '20140507', '20120203', 'MVD', 'Robert', 'Hesse', 'Germany', '656645', '19940808', 'A')]
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,"record(s) inserted.")

10 record(s) inserted.

### Getting the table in Data using Python :

In [5]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              passwd = "Prakash1@234",
                              database = "PatientsRecordPython")
mycursor = mydb.cursor()
sql = "SELECT * FROM worldwide_records"
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult :
    print(x)

('Albert', '548785', datetime.date(2014, 5, 7), datetime.date(2012, 2, 3), 'MVD', 'Robert', 'Hesse', 'Germany', 656645, datetime.date(1994, 8, 8), 'A')
('Antony', '145879', datetime.date(2013, 5, 9), datetime.date(2012, 2, 3), 'MVD', 'Robert', 'Hamburg', 'Germany', 658657, datetime.date(1984, 7, 6), 'A')
('Jack', '123455', datetime.date(2012, 6, 9), datetime.date(2012, 2, 3), 'MVD', 'Robert', 'Karnataka', 'India', 123487, datetime.date(1980, 5, 2), 'A')
('James', '123458', datetime.date(2010, 2, 3), datetime.date(2012, 2, 3), 'MVD', 'Paul', 'TamilNamdu', 'India', 987654, datetime.date(1988, 2, 1), 'A')
('John', '123459', datetime.date(2010, 11, 12), datetime.date(2012, 2, 3), 'MVD', 'Paul', 'Berlin', 'Germany', 641548, datetime.date(1995, 8, 11), 'A')
('Leo', '123456', datetime.date(2011, 6, 7), datetime.date(2012, 2, 3), 'MVD', 'Paul', 'Bermen', 'Germany', 754846, datetime.date(1994, 12, 12), 'A')
('Prakash', '124567', datetime.date(2014, 9, 7), datetime.date(2012, 2, 3), 'MVD', 'Paul', 'Kerala', 'India', 654653, datetime.date(1982, 9, 9), 'A')
('Prem', '126581', datetime.date(2015, 9, 7), datetime.date(2012, 2, 3), 'MVD', 'Peter', 'Centre', 'France', 325324, datetime.date(1985, 2, 8), 'A')
('Robert', '123457', datetime.date(2010, 4, 6), datetime.date(2012, 2, 3), 'MVD', 'Paul', 'Alabama', 'USA', 789456, datetime.date(1987, 2, 1), 'A')
('Rose', '123789', datetime.date(2012, 8, 7), datetime.date(2012, 2, 3), 'MVD', 'Peter', 'Alsace', 'France', 652651, datetime.date(1990, 6, 8), 'A')

### Extracting the table based on COUNTRY :

In [6]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              passwd = "Prakash1@234",
                              database = "PatientsRecordPython")
mycursor = mydb.cursor()
sql = "SELECT * FROM worldwide_records WHERE Country = %s"
adr = ("India",)
mycursor.execute(sql,adr)
myresult = mycursor.fetchall()

for x in myresult :
    print(x)
print(mycursor.rowcount,"records fetched.")

('Jack', '123455', datetime.date(2012, 6, 9), datetime.date(2012, 2, 3), 'MVD', 'Robert', 'Karnataka', 'India', 123487, datetime.date(1980, 5, 2), 'A')
('James', '123458', datetime.date(2010, 2, 3), datetime.date(2012, 2, 3), 'MVD', 'Paul', 'TamilNamdu', 'India', 987654, datetime.date(1988, 2, 1), 'A')
('Prakash', '124567', datetime.date(2014, 9, 7), datetime.date(2012, 2, 3), 'MVD', 'Paul', 'Kerala', 'India', 654653, datetime.date(1982, 9, 9), 'A')
3 records fetched.

### Extracting the data using Pandas :

In [7]:
import mysql.connector 
import pandas as pd
mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              passwd = "Prakash1@234",
                              database = "PatientsRecordPython")
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM worldwide_records")
table_rows = mycursor.fetchall()
df = pd.DataFrame(table_rows)
print(df.head())
print("\n-----------****------------*******-----------******-------------")

df1 = pd.read_sql("SELECT * FROM worldwide_records",con = mydb)
print("\n",df1.head())

       0       1           2           3    4       5           6        7   \
0  Albert  548785  2014-05-07  2012-02-03  MVD  Robert       Hesse  Germany
1  Antony  145879  2013-05-09  2012-02-03  MVD  Robert     Hamburg  Germany
2    Jack  123455  2012-06-09  2012-02-03  MVD  Robert   Karnataka    India
3   James  123458  2010-02-03  2012-02-03  MVD    Paul  TamilNamdu    India
4    John  123459  2010-11-12  2012-02-03  MVD    Paul      Berlin  Germany

       8           9  10
0  656645  1994-08-08  A
1  658657  1984-07-06  A
2  123487  1980-05-02  A
3  987654  1988-02-01  A
4  641548  1995-08-11  A

-----------****------------*******-----------******-------------

   Customer_Name Customer_ID Customer_Open_Dat Last_Consulted_Dat  \
0        Albert      548785        2014-05-07         2012-02-03
1        Antony      145879        2013-05-09         2012-02-03
2          Jack      123455        2012-06-09         2012-02-03
3         James      123458        2010-02-03         2012-02-03
4          John      123459        2010-11-12         2012-02-03

  Vaccination_Type Doctor_Consulted       State  Country  Post_Code  \
0              MVD           Robert       Hesse  Germany     656645
1              MVD           Robert     Hamburg  Germany     658657
2              MVD           Robert   Karnataka    India     123487
3              MVD             Paul  TamilNamdu    India     987654
4              MVD             Paul      Berlin  Germany     641548

          DOB Active_Customer
0  1994-08-08               A
1  1984-07-06               A
2  1980-05-02               A
3  1988-02-01               A
4  1995-08-11               A

### Creating 2nd table and move the table data based on COUNTRY :

In [8]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              passwd = "Prakash1@234",
                              database = "PatientsRecordPython")
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE india_records (Customer_Name VARCHAR(25) NOT NULL PRIMARY KEY,Customer_ID VARCHAR(18) NOT NULL,Customer_Open_Dat DATE NOT NULL,Last_Consulted_Dat DATE NOT NULL,Vaccination_Type CHAR(5) NOT NULL,Doctor_Consulted CHAR(25) NOT NULL,State CHAR(25) NOT NULL,Country CHAR(25) NOT NULL,Post_Code INT(5) NOT NULL,DOB DATE NOT NULL,Active_Customer CHAR(1) NOT NULL)")

  I used MYSQL query to insert the table data in MYSQL workbench 
  SQL QUERY to insert table data from one table to another table is given as below
  
   "SELECT * FROM patientsrecordpython.worldwide_records
    INSERT INTO patientsrecordpython.india_records
    WHERE Country = "India" ".
    
   I used above query to move the table data to india_records.

In [22]:
import mysql.connector
mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              passwd = "Prakash1@234",
                              database = "PatientsRecordPython")
mycursor = mydb.cursor()
sql = " SELECT * FROM india_records"
mycursor.execute(sql)
my = mycursor.fetchall()
for item in my :
         print(item)  
print(mycursor.rowcount,"records fetched.")

('Jack', '123455', datetime.date(2012, 6, 9), datetime.date(2012, 2, 3), 'MVD', 'Robert', 'Karnataka', 'India', 123487, datetime.date(1980, 5, 2), 'A')
('James', '123458', datetime.date(2010, 2, 3), datetime.date(2012, 2, 3), 'MVD', 'Paul', 'TamilNamdu', 'India', 987654, datetime.date(1988, 2, 1), 'A')
('Prakash', '124567', datetime.date(2014, 9, 7), datetime.date(2012, 2, 3), 'MVD', 'Paul', 'Kerala', 'India', 654653, datetime.date(1982, 9, 9), 'A')
3 records fetched.

### CREATE 2nd DATABASE :

In [24]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",
                              user="root",
                              passwd="Prakash1@234")
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE CountrywiseRecordPython")

In [25]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              passwd = "Prakash1@234",
                              database = "CountrywiseRecordPython")
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE india_records (Customer_Name VARCHAR(25) NOT NULL PRIMARY KEY,Customer_ID VARCHAR(18) NOT NULL,Customer_Open_Dat DATE NOT NULL,Last_Consulted_Dat DATE NOT NULL,Vaccination_Type CHAR(5) NOT NULL,Doctor_Consulted CHAR(25) NOT NULL,State CHAR(25) NOT NULL,Country CHAR(25) NOT NULL,Post_Code INT(5) NOT NULL,DOB DATE NOT NULL,Active_Customer CHAR(1) NOT NULL)")

### TRANSFERING DATA FROM ONE DATABASE TO ANOTHER DATABASE :

I used MYSQL query to insert the table data in MYSQL workbench 
  SQL QUERY to insert table data from one table to another table is given as below
  
   "INSERT INTO countrywiserecordpython.india_records
    SELECT * FROM patientsrecordpython.india_records ".
    
   I used above query to move the table data to india_records in countrywiserecordpython database.